<% provide(:title, "The table of all trainers:") %>
<br/><br/><br/><br/>
<h1>All Trainers List</h1>
<br/><br/><br/>
<div class="container">
  <table class="table table-hover", id = "trainer_table">
    <thead>
      <tr>
	    <th>Name</th>
	    <th>Email</th>
	    <th>Level</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
    </thead>
     <tbody>
        <%@trainer.each do |trainer| %>
      	<tr>
    	    <td><%= trainer.name %></td>
    		<td><%= trainer.email %></td>
    		<td><%= trainer.level %></td>
    		<td><%= link_to "Profile", trainer, class: "btn btn-primary" %></td>
    		<td><%= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'Do you want to delete the information?' }, class: "btn btn-danger" %></td>
      	</tr>
     	<% end %>
    </tbody>
  </table>
  <%= link_to("Create Trainer", new_trainer_path, class: "btn btn-primary") %>
</div>
