<% provide(:title, "Show-Tokimon") %>
<h1><%= @trainer.name %>'s profile</h1>

<p id="notice"><%= notice %></p> 	
<%= link_to "Create A Tokimon", new_trainer_tokimon_path(@trainer,@tokimon) ,:class => "btn btn-primary" %>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
	    <th>Name</th>
	    <th>Weight</th>
	    <th>Height</th>
	    <th>Fly</th>
	    <th>Fight</th>
	    <th>Fire</th>
	    <th>Water</th>
	    <th>Electric</th>
	    <th>Ice</th>
	    <th>Trainer ID</th>
		<th>Total</th>
	    <th></th>
	    <th></th>
	  </tr>
    </thead>
     <tbody>
        <%@tokimons.each do |tokimon| %>
      	<tr>
    	    <td><%= tokimon.name %></td>
    		<td><%= tokimon.weight %></td>
    		<td><%= tokimon.height %></td>
    		<td><%= tokimon.fly %></td>
    		<td><%= tokimon.fight %></td>
    		<td><%= tokimon.fire %></td>
    		<td><%= tokimon.water %></td>
    		<td><%= tokimon.electric %></td>
    		<td><%= tokimon.ice %></td>
    		<td><%= tokimon.trainer_id %></td>
    		<td><%= tokimon.fire + tokimon.fight + tokimon.fly + tokimon.water + tokimon.electric + tokimon.ice %></td>
    		<td><%= link_to "Edit", edit_trainer_tokimon_path(@trainer, tokimon), class: "btn btn-primary" %></td>
    		<td><%= link_to 'Delete This Tokimon', [@trainer, tokimon], method: :delete, data: { confirm: 'Do you want to delete the information?' }, class: "btn btn-danger" %></td>
      	</tr>
     	<% end %>
    </tbody>
  </table>
</div>

<%= link_to "<< Back to Trainer List", trainers_path, class:"btn btn-primary" %>

